In [1]:
import pandas as pd
from utils import *

C:\Users\joren\AppData\Local\Temp\ipykernel_33600\1421855552.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# -- COURSE doeltabel --

# COURSE_COURSE_CODE
# COURSE_COURSE_DESCRIPTION

In [3]:
go_staff = load_db('../source/go_staff.sqlite')

In [4]:
course = load_table(go_staff, 'COURSE')
result = course
result

  COURSE_CODE COURSE_DESCRIPTION
0           1     GO Orientation
1           2   GO Communication
2           3         GO Sales 1
3           4         GO Sales 2
4           5     GO Marketing 1
5           6     GO Marketing 2
6           7     GO Marketing 3
7           8    GO Management 1
8           9    GO Management 2