In [1]:
import pandas as pd
from utils import *

C:\Users\joren\AppData\Local\Temp\ipykernel_15688\1421855552.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# -- SATISFACTION doeltabel --

# SATISFACTION_YEAR
# SALES_STAFF_CODE
# SATISFACTION_TYPE_CODE

In [3]:
go_staff = load_db('../source/go_staff.sqlite')

In [4]:
satisfaction = load_table(go_staff, 'SATISFACTION')
result = satisfaction
result

     YEAR SALES_STAFF_CODE SATISFACTION_TYPE_CODE
0    2004              100                      1
1    2004              101                      4
2    2004              102                      4
3    2004              103                      3
4    2004              104                      4
..    ...              ...                    ...
296  2006               94                      3
297  2006               95                      4
298  2006               96                      5
299  2006               98                      4
300  2006               99                      5

[301 rows x 3 columns]