In [1]:
import pandas as pd
from utils import *

C:\Users\joren\AppData\Local\Temp\ipykernel_32496\1421855552.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# -- Training doeltabel --

# SALES_STAFF_CODE
# COURSE_CODE

In [3]:
go_staff = load_db('../source/go_staff.sqlite')

In [4]:
training = load_table(go_staff, 'TRAINING')
result = training.drop(columns=['YEAR'])
result

    SALES_STAFF_CODE COURSE_CODE
0                100           2
1                100           3
2                100           4
3                100           5
4                100           6
..               ...         ...
397               98           5
398               99           2
399               99           5
400               99           6
401               99           7

[402 rows x 2 columns]