In [7]:
import pandas as pd
import numpy as np
from utils import *

In [8]:
# Doeltabel year_month   * = primary key

# YEAR_YEAR*

In [9]:
go_staff = load_db('source/go_staff.sqlite')

training = load_table(go_staff, 'training')[['YEAR']]
satisfaction = load_table(go_staff, 'satisfaction')[['YEAR']]

In [10]:
# Union the two tables
year = pd.concat([training, satisfaction], ignore_index=True).drop_duplicates()

# Convert to int
year['YEAR'] = year['YEAR'].astype(int)

In [11]:
result = year
year

   YEAR
0  2004
3  2005
4  2006